<template>
    <footer class="fixed bottom-0 z-50 bg-white w-full py-6 px-5 border-t rounded-t-2xl shadow-t-md">
        <a class="flex justify-center text-white text-sm rounded-xl bg-gradient-to-r from-primary-default to-secondary-default py-2 px-2">
            Kostenlos Registrieren
        </a>
    </footer>
</template>