<template>
    <header class="fixed top-0 z-50 bg-white w-full border-b rounded-b-2xl shadow-b-md ">
        <div class="w-full h-2 bg-gradient-to-r from-primary-default to-secondary-default"></div>
        <nav class="flex justify-end py-5 px-5">
            <div class="text-primary-default">Login</div>
        </nav>
    </header>
</template>