<template>
  <div class="">
    <Header/>

    <main>

      <div class="hero-div bg-gradient-to-b from-secondary-lighter to-primary-lighter pt-24 pb-2 flex flex-col justify-between">
        <h1 class="w-2/3 mx-auto text-5xl font-semibold text-center pt-4 mb-10">
          Deine Job website
        </h1>

        <div class="w-full z-10">
          <img src="~/assets/img/undraw_agreement_aajr.svg" class="w-full">
        </div>
      </div>
      <svg class="fill-primary-lighter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
        <path fill-opacity="1" d="M0,320L80,314.7C160,309,320,299,480,245.3C640,192,800,96,960,53.3C1120,11,1280,21,1360,26.7L1440,32L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
      </svg>


      <div class="flex flex-wrap mt-10">
        <div class="w-full">
          <ul class="nav-tabs flex flex-row mb-0 list-none overflow-scroll pt-3 pb-4 px-5">
            <li class="-mb-px flex-auto text-center">
              <a class="text-base font-medium hover:bg-primary-light hover:text-white  px-8 py-3 border rounded-l-xl block leading-normal" v-on:click="toggleTabs(1)" v-bind:class="{'text-primary-default bg-white': openTab !== 1, 'text-white bg-primary-light': openTab === 1}">
                Arbeitnehmer
              </a>
            </li>
            <li class="-mb-px flex-auto text-center">
              <a class="text-base font-medium hover:bg-primary-light hover:text-white px-8 py-3 border block leading-normal" v-on:click="toggleTabs(2)" v-bind:class="{'text-primary-default bg-white': openTab !== 2, 'text-white bg-primary-light': openTab === 2}">
                Arbeitgeber
              </a>
            </li>
            <li class="-mb-px flex-auto text-center">
              <a class="text-base font-medium hover:bg-primary-light hover:text-white px-8 py-3 border rounded-r-xl block leading-normal" v-on:click="toggleTabs(3)" v-bind:class="{'text-primary-default bg-white': openTab !== 3, 'text-white bg-primary-light': openTab === 3}">
                Temporärbüro
              </a>
            </li>
          </ul>
          <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
            <div class="pt-5 pb-24 flex-auto">
              <div class="tab-content tab-space">
                <div v-bind:class="{'hidden': openTab !== 1, 'block': openTab === 1}">

                  <h2 class="text-2xl text-dark-default font-medium text-center">
                    Drei einfache Schritte <br>
                    zu deinem neuen Job
                  </h2>
                  <section class="pt-6 pb-2">
                    <div class="">
                      <div class="flex justify-end pr-10">
                        <img class="" src="~/assets/img/undraw_Profile_data.svg" alt="">
                      </div>
                      <p class="text-dark-light px-3 -mt-10 ">
                        <span class="text-9xl">
                          1.
                        </span>
                        <span>
                          Erstellen dein Lebenslauf
                        </span>
                      </p>
                    </div>
                  </section>
                  <section class="pt-6 pb-2 relative z-10">

                    <svg class="fill-primary-lighter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill-opacity="1" d="M0,64L80,90.7C160,117,320,171,480,170.7C640,171,800,117,960,90.7C1120,64,1280,64,1360,64L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
                    </svg>
                    <div class="bg-primary-lighter">
                      <p class="text-dark-light text-center px-3 -mt-4 mb-5">
                        <span class="text-9xl">
                          2.
                        </span>
                        <span>
                          Erstellen dein Lebenslauf
                        </span>
                      </p>
                      <div class="flex justify-center pb-4">
                        <img class="" src="~/assets/img/undraw_task.svg" alt="">
                      </div>
                    </div>
                    <svg class="fill-primary-lighter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                      <path fill-opacity="1" d="M0,224L80,192C160,160,320,96,480,106.7C640,117,800,203,960,213.3C1120,224,1280,160,1360,128L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
                    </svg>

                  </section>
                  <section class="pt-6 pb-2 -mt-20 relative">

                    <svg class="bg-circle" viewBox="0 0 590 590" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="295" cy="295" r="295" fill="#F7FAFC"/>
                    </svg>

                    <div class="relative z-10">
                      <p class="text-dark-light flex justify-center items-end px-3">
                        <span class="text-9xl">
                          3.
                        </span>
                        <span class="w-48 ml-5 pb-8">
                          Mit nur einem Klick bewerben
                        </span>
                      </p>
                      <div class="flex justify-end -mt-6 pr-4 pb-4">
                        <img class="" src="~/assets/img/undraw_personal_file.svg" alt="">
                      </div>
                    </div>

                  </section>


                </div>
                <div v-bind:class="{'hidden': openTab !== 2, 'block': openTab === 2}">

                  <h2 class="text-2xl text-dark-default font-medium text-center">
                    Drei einfache Schritte <br>
                    zu deinem neuen Mitarbeiter
                  </h2>
                  <section class="pt-6 pb-2">
                    <div class="">
                      <div class="flex justify-end pr-10">
                        <img class="" src="~/assets/img/undraw_Profile_data.svg" alt="">
                      </div>
                      <p class="text-dark-light flex justify-center items-end px-3">
                        <span class="text-9xl">
                          1.
                        </span>
                        <span class="w-48 ml-5 pb-2">
                          Erstellen dein Unternehmensprofil
                        </span>
                      </p>
                    </div>
                  </section>
                  <section class="pt-6 pb-2 relative z-10">

                    <svg class="fill-primary-lighter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill-opacity="1" d="M0,64L80,90.7C160,117,320,171,480,170.7C640,171,800,117,960,90.7C1120,64,1280,64,1360,64L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
                    </svg>
                    <div class="bg-primary-lighter">
                      <p class="text-dark-light text-center px-3 -mt-4 -mb-8">
                        <span class="text-9xl">
                          2.
                        </span>
                        <span>
                          Erstellen en Jobinserat
                        </span>
                      </p>
                      <div class="flex justify-center pb-4">
                        <img class="" src="~/assets/img/undraw_about_me_wa29.svg" alt="">
                      </div>
                    </div>
                    <svg class="fill-primary-lighter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                      <path fill-opacity="1" d="M0,224L80,192C160,160,320,96,480,106.7C640,117,800,203,960,213.3C1120,224,1280,160,1360,128L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
                    </svg>

                  </section>
                  <section class="pt-6 pb-2 -mt-20 relative">

                    <svg class="bg-circle" viewBox="0 0 590 590" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="295" cy="295" r="295" fill="#F7FAFC"/>
                    </svg>

                    <div class="relative z-10">
                      <p class="text-dark-light flex justify-center items-end px-3">
                        <span class="text-9xl">
                          3.
                        </span>
                        <span class="w-48 ml-5 pb-8">
                          Wähle deinen <br> neuen Mitarbeiter aus
                        </span>
                      </p>
                      <div class="flex justify-center mt-8">
                        <img class="" src="~/assets/img/undraw_swipe_profiles1_i6mr.svg" alt="">
                      </div>
                    </div>

                  </section>

                </div>
                <div v-bind:class="{'hidden': openTab !== 3, 'block': openTab === 3}">

                  <h2 class="text-2xl text-dark-default font-medium text-center">
                    Drei einfache Schritte zur<br>
                    Vermittlung neuer Mitarbeiter
                  </h2>
                  <section class="pt-6 pb-2">
                    <div class="">
                      <div class="flex justify-end pr-10">
                        <img class="" src="~/assets/img/undraw_Profile_data.svg" alt="">
                      </div>
                      <p class="text-dark-light flex justify-center items-end px-3">
                        <span class="text-9xl">
                          1.
                        </span>
                        <span class="w-48 ml-5 pb-2">
                          Erstellen dein Unternehmensprofil
                        </span>
                      </p>
                    </div>
                  </section>
                  <section class="pt-6 pb-2 relative z-10">

                    <svg class="fill-primary-lighter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                    <path fill-opacity="1" d="M0,64L80,90.7C160,117,320,171,480,170.7C640,171,800,117,960,90.7C1120,64,1280,64,1360,64L1440,64L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path>
                    </svg>
                    <div class="bg-primary-lighter">
                      <p class="text-dark-light flex justify-center items-end px-3 -mt-4 mb-1">
                        <span class="text-9xl">
                          2.
                        </span>
                        <span class="w-48 ml-5 pb-2">
                          Erhalte Vermittlungs angebot von Arbeitgeber
                        </span>
                      </p>
                      <div class="flex justify-center pb-4">
                        <img class="" src="~/assets/img/undraw_job_offers_kw5d.svg" alt="">
                      </div>
                    </div>
                    <svg class="fill-primary-lighter" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
                      <path fill-opacity="1" d="M0,224L80,192C160,160,320,96,480,106.7C640,117,800,203,960,213.3C1120,224,1280,160,1360,128L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path>
                    </svg>

                  </section>
                  <section class="pt-6 pb-2 -mt-20 relative">

                    <svg class="bg-circle" viewBox="0 0 590 590" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="295" cy="295" r="295" fill="#F7FAFC"/>
                    </svg>

                    <div class="relative z-10">
                      <p class="text-dark-light flex justify-center items-end px-3">
                        <span class="text-9xl">
                          3.
                        </span>
                        <span class="w-48 ml-5 pb-2">
                          Vermittlung nach <br>
                          Provision oder <br>
                          Stundenlohn
                        </span>
                      </p>
                      <div class="flex justify-center mt-4">
                        <img class="" src="~/assets/img/undraw_business_deal_cpi9.svg" alt="">
                      </div>
                    </div>

                  </section>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </main>

    <Footer/>
  </div>
</template>

<script>
export default {
  name: "pink-tabs",
  data() {
    return {
      openTab: 1
    }
  },
  methods: {
    toggleTabs: function(tabNumber){
      this.openTab = tabNumber
    }
  }
}
</script>
